body,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
i,
b,
textarea,
button,
input,
select {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  box-sizing: border-box;
  font-weight: lighter;
  font-family: -apple-system,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Helvetica Neue,
    Arial,
    sans-seriff;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
}

$vw_fontSize: 16;

@function rem($px) {
  @return ($px / $vw_fontSize) * 1rem;
}

// 根元素使用vw 单位
$vw_design: 750;

html {
  font-size: ($vw_fontSize/($vw_design / 2)) * 100vw;

  // 同时使用media queries 限制根元素的大小
  @media screen and (max-width: 319px) {
    font-size: 12px;
  }

  @media screen and (min-width: 540px) {
    font-size: 16px;
  }
}

// body 也增加最大最小宽度限制，避免默认100%宽度的block元素跟随body 过大或者过小
body {
  // min-width: 320px;
  // max-width: 540px;
  background: #f5f5f5;
}

input,
select:focus {
  outline: none;
}


/* 清楚浮动 */

.clear:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

.clear {
  zoom: 1
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999 !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999 !important;
}

/* 富文本的样式调整 */
.post-content h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
}

.post-content table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.post-content table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.post-content table tr th,
.post-content table tr td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.post-content p{
    margin: .625rem 0;
}
