@import '@/assets/scss/theme.scss';
.index {
    &_inner {
        .index_inner_ul_item {
            height: 9.375rem;
            padding: 1.5rem;
            background: $f_color;
            margin-bottom: 1rem;
            a {
                display: block;
            }
            .content {
                display: flex;
                position: relative;
                &_left {
                    .title {
                        font-size: 1.25rem;
                        font-weight: 700;
                    }
                    .txt {
                        width: 37.5rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding-top: 1rem;
                    }
                    .info {
                        padding-top: 2rem;
                        font-size: 0.875rem;
                        .space {
                            padding-right: 0.75rem;
                        }
                        .time,
                        .labels {
                            color: $color_9;
                        }
                        .labels {
                            border: 0.0625rem solid $bg_color_e;
                            border-radius: 0.25rem;
                            padding: 0.125rem 0.25rem;
                            margin: 0 .25rem;
                        }
                    }
                    .edit {
                        width: 2.5rem;
                        height: 1.8rem;
                        border-radius: .2rem;
                        background: #3B87FF;
                        color: #fff;
                        text-align: center;
                        line-height: 1.8rem;
                        position: absolute;
                        right: 3.5rem;
                        z-index: 3;
                        font-size: 14px;
                    }
                    .delete {
                        right: 0;
                        background: $bg_color_red;
                    }
                }
            }
        }
    }
}